body{
	font-family: Helvetica;
	font-size: 18px;
}
input[name=chat]{
	font-size: inherit;
	width: 280px;
}
.output-wrapper{
	position: relative;
	height: 400px;
	width: 320px;
	overflow: hidden;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5 ) inset;
}
.output{
	width: 300px;
	padding: 10px;
	position: absolute;
	bottom: 0px;
}
.message{
	padding: 3px;
	border-bottom: 1px solid #ccc;
}
.mine{
	color: #999;
}
.notmine{
	
}