.output-wrapper{
	position: relative;
	height: 400px;
	width: 100%;
	overflow: auto;
	border: 1px solid #ccc;
	margin: 0 0 5px 0;
}
.output{
	width: 100%;
	position: absolute;
	bottom: 0px;
}
.message{
	padding: 3px 10px;
	border-bottom: 1px solid #ccc;
}
.mine{
	color: #999;
}
.notmine{
	
}
.hidden{
	display: none;
}